Repository cclib/cclib, pull requests merged in 2018-12, with the labels that each got.

#666 Add oscillator strengths (etoscs) from Dalton response calculation
  cclib/parser/daltonparser.py
  test/data/testTD.py
Labels: Dalton, feature

#668 DALTON: fix version parsing of never development versions
  cclib/parser/daltonparser.py
  test/regression.py
Labels: Dalton, regression

#670 Q-Chem: add unit tests for 5.1
  data/QChem/basicQChem5.1/C_bigbasis.in
  data/QChem/basicQChem5.1/C_bigbasis.out
  data/QChem/basicQChem5.1/MoOCl4_sp.in
  data/QChem/basicQChem5.1/MoOCl4_sp.out
  data/QChem/basicQChem5.1/Trp_polar.in
  data/QChem/basicQChem5.1/Trp_polar.out
  data/QChem/basicQChem5.1/dvb_bomd.in
  data/QChem/basicQChem5.1/dvb_bomd.out
  data/QChem/basicQChem5.1/dvb_gopt.in
  data/QChem/basicQChem5.1/dvb_gopt.out
  data/QChem/basicQChem5.1/dvb_ir.in
  data/QChem/basicQChem5.1/dvb_ir.out
  data/QChem/basicQChem5.1/dvb_raman.in
  data/QChem/basicQChem5.1/dvb_raman.out
  data/QChem/basicQChem5.1/dvb_sp.in
  data/QChem/basicQChem5.1/dvb_sp.out
  data/QChem/basicQChem5.1/dvb_sp_un.in
  data/QChem/basicQChem5.1/dvb_sp_un.out
  data/QChem/basicQChem5.1/dvb_td.in
  data/QChem/basicQChem5.1/dvb_td.out
  data/QChem/basicQChem5.1/water_ccd.in
  data/QChem/basicQChem5.1/water_ccd.out
  data/QChem/basicQChem5.1/water_ccsd(t).in
  data/QChem/basicQChem5.1/water_ccsd(t).out
  data/QChem/basicQChem5.1/water_ccsd.in
  data/QChem/basicQChem5.1/water_ccsd.out
  data/QChem/basicQChem5.1/water_cis(d).in
  data/QChem/basicQChem5.1/water_cis(d).out
  data/QChem/basicQChem5.1/water_cis.in
  data/QChem/basicQChem5.1/water_cis.out
  data/QChem/basicQChem5.1/water_ir.in
  data/QChem/basicQChem5.1/water_ir.out
  data/QChem/basicQChem5.1/water_ir_anharm.in
  data/QChem/basicQChem5.1/water_ir_anharm.out
  data/QChem/basicQChem5.1/water_mp2.in
  data/QChem/basicQChem5.1/water_mp2.out
  data/QChem/basicQChem5.1/water_mp3.in
  data/QChem/basicQChem5.1/water_mp3.out
  data/QChem/basicQChem5.1/water_mp4.in
  data/QChem/basicQChem5.1/water_mp4.out
  data/QChem/basicQChem5.1/water_mp4sdq.in
  data/QChem/basicQChem5.1/water_mp4sdq.out
  test/test_data.py
  test/testdata
Labels: QChem, tests

#671 Molcas Parser fix
  cclib/parser/molcasparser.py
  test/regression.py
Labels: Molcas

#674 Molcas: fix for regression suite job standard/005
  cclib/parser/molcasparser.py
  test/regression.py
Labels: Molcas, regression
