Repository cclib/cclib, pull requests merged in 2018-07, with the labels that each got.

#558 Molcas dvb sp un files
  data/Molcas/basicOpenMolcas18.0/dvb_sp_un.in
  data/Molcas/basicOpenMolcas18.0/dvb_sp_un.out
Labels: Molcas, tests

#515 Psi: split into separate Psi3 and Psi4 parsers, take 2
  cclib/io/ccio.py
  cclib/parser/__init__.py
  cclib/parser/psi3parser.py
  cclib/parser/psi4parser.py
  data/Psi3/basicPsi3/dvb_sp_hf.inp
  data/Psi3/basicPsi3/dvb_sp_hf.out
  data/Psi4/basicPsi4-1.0/C_bigbasis.in
  data/Psi4/basicPsi4-1.0/C_bigbasis.out
  data/Psi4/basicPsi4-1.0/dvb_gopt_rhf.in
  data/Psi4/basicPsi4-1.0/dvb_gopt_rhf.out
  data/Psi4/basicPsi4-1.0/dvb_gopt_rks.in
  data/Psi4/basicPsi4-1.0/dvb_gopt_rks.out
  data/Psi4/basicPsi4-1.0/dvb_ir_rhf.in
  data/Psi4/basicPsi4-1.0/dvb_ir_rhf.out
  data/Psi4/basicPsi4-1.0/dvb_sp_rhf.in
  data/Psi4/basicPsi4-1.0/dvb_sp_rhf.out
  data/Psi4/basicPsi4-1.0/dvb_sp_rks.in
  data/Psi4/basicPsi4-1.0/dvb_sp_rks.out
  data/Psi4/basicPsi4-1.0/dvb_sp_rohf.in
  data/Psi4/basicPsi4-1.0/dvb_sp_rohf.out
  data/Psi4/basicPsi4-1.0/dvb_sp_uhf.in
  data/Psi4/basicPsi4-1.0/dvb_sp_uhf.out
  data/Psi4/basicPsi4-1.0/dvb_sp_uks.in
  data/Psi4/basicPsi4-1.0/dvb_sp_uks.out
  data/Psi4/basicPsi4-1.0/water_ccsd(t).in
  data/Psi4/basicPsi4-1.0/water_ccsd(t).out
  data/Psi4/basicPsi4-1.0/water_ccsd.in
  data/Psi4/basicPsi4-1.0/water_ccsd.out
  data/Psi4/basicPsi4-1.0/water_mp2.in
  data/Psi4/basicPsi4-1.0/water_mp2.out
  test/data/testBasis.py
  test/data/testGeoOpt.py
  test/data/testSP.py
  test/data/testvib.py
  test/io/testccio.py
  test/io/testwfxwriter.py
  test/method/testorbitals.py
  test/regression.py
  test/test_data.py
  test/testdata
Labels: Psi, maintenance

#561 Psi4: consolidate gradient parsing
  cclib/parser/psi4parser.py
  test/regression.py
Labels: Psi

#559 Molcas: Added implementation for homos and moenergies
  cclib/parser/molcasparser.py
  test/data/testSP.py
  test/data/testSPun.py
Labels: Molcas

#563 Turbomole: Added implementation for frequency attributes
  cclib/parser/turbomoleparser.py
  test/data/testvib.py
  test/testdata
Labels: Turbomole

#565 Molcas: Implemented mocoeffs and aonames
  cclib/parser/molcasparser.py
  test/data/testSP.py
  test/data/testSPun.py
Labels: Molcas

#571 Molcas files for MP calculations
  data/Molcas/basicOpenMolcas18.0/water_mbpt2.in
  data/Molcas/basicOpenMolcas18.0/water_mbpt2.out
Labels: Molcas

#572 Molcas: Added files for Molcas CCSD calculations
  data/Molcas/basicOpenMolcas18.0/water_ccsd.in
  data/Molcas/basicOpenMolcas18.0/water_ccsd.out
Labels: Molcas

#569 Turbomole: Added functionality for moenergies and mocoeffs
  cclib/parser/turbomoleparser.py
  test/data/testSP.py
  test/data/testSPun.py
  test/testdata
Labels: Turbomole

#575 ORCA: update unit test files to use v4.0 and move v2.9 to regressions
  data/ORCA/basicORCA2.9/dvb_gopt.inp
  data/ORCA/basicORCA2.9/dvb_gopt.out
  data/ORCA/basicORCA2.9/dvb_ir.inp
  data/ORCA/basicORCA2.9/dvb_ir.out
  data/ORCA/basicORCA2.9/dvb_raman.inp
  data/ORCA/basicORCA2.9/dvb_raman.out
  data/ORCA/basicORCA2.9/dvb_scan.inp
  data/ORCA/basicORCA2.9/dvb_scan.out
  data/ORCA/basicORCA2.9/dvb_sp.inp
  data/ORCA/basicORCA2.9/dvb_sp.out
  data/ORCA/basicORCA2.9/dvb_sp_un.inp
  data/ORCA/basicORCA2.9/dvb_sp_un.out
  data/ORCA/basicORCA2.9/dvb_td.inp
  data/ORCA/basicORCA2.9/dvb_td.out
  data/ORCA/basicORCA4.0/Trp_polar.in
  data/ORCA/basicORCA4.0/Trp_polar.out
  data/ORCA/basicORCA4.0/dvb_gopt.inp
  data/ORCA/basicORCA4.0/dvb_gopt.out
  data/ORCA/basicORCA4.0/dvb_ir.inp
  data/ORCA/basicORCA4.0/dvb_ir.out
  data/ORCA/basicORCA4.0/dvb_raman.inp
  data/ORCA/basicORCA4.0/dvb_raman.out
  data/ORCA/basicORCA4.0/dvb_sp.inp
  data/ORCA/basicORCA4.0/dvb_sp.out
  data/ORCA/basicORCA4.0/dvb_sp_un.inp
  data/ORCA/basicORCA4.0/dvb_sp_un.out
  data/ORCA/basicORCA4.0/dvb_td.inp
  data/ORCA/basicORCA4.0/dvb_td.out
  test/data/testTD.py
  test/data/testvib.py
  test/test_data.py
  test/testdata
Labels: ORCA, tests
