Repository cclib/cclib, pull requests merged in 2018-05, with the labels that each got.

#512 Adding skipforMolcas on all test methods
  test/data/testBasis.py
  test/data/testCC.py
  test/data/testCI.py
  test/data/testCore.py
  test/data/testGeoOpt.py
  test/data/testMP.py
  test/data/testPolar.py
  test/data/testSP.py
  test/data/testSPun.py
  test/data/testScan.py
  test/data/testTD.py
  test/data/testTDun.py
  test/data/testvib.py
Labels: Molcas, tests

#513 Adds success flag to metadata
  cclib/parser/adfparser.py
  cclib/parser/daltonparser.py
  cclib/parser/gamessparser.py
  cclib/parser/gamessukparser.py
  cclib/parser/gaussianparser.py
  cclib/parser/jaguarparser.py
  cclib/parser/logfileparser.py
  cclib/parser/molproparser.py
  cclib/parser/mopacparser.py
  cclib/parser/nwchemparser.py
  cclib/parser/orcaparser.py
  cclib/parser/psiparser.py
  cclib/parser/qchemparser.py
  test/data/testGeoOpt.py
Labels: feature, parsers

#514 Initial Molcas parser and a few output files
  cclib/io/ccio.py
  cclib/parser/__init__.py
  cclib/parser/molcasparser.py
  data/Molcas/basicOpenMolcas18.0/C_bigbasis.in
  data/Molcas/basicOpenMolcas18.0/C_bigbasis.out
  data/Molcas/basicOpenMolcas18.0/dvb_sp.in
  data/Molcas/basicOpenMolcas18.0/dvb_sp.out
  data/Molcas/basicOpenMolcas18.0/dvb_sp_un.in
  data/Molcas/basicOpenMolcas18.0/dvb_sp_un.out
  test/data/testBasis.py
  test/data/testGeoOpt.py
  test/data/testSP.py
  test/regression.py
  test/test_data.py
  test/testdata
Labels: Molcas, feature, parsers

#516 typos: Molacs -> Molcas
  test/regression.py
Labels: Molcas, bug

#505 Parses ORCA gradients
  cclib/parser/orcaparser.py
  test/data/testGeoOpt.py
Labels: ORCA, parsers

#520 Fix argument inspection
  cclib/parser/logfileparser.py
Labels: maintenance

#519 Fix NumPy deprecation warning about casting during subtype call
  test/data/testGeoOpt.py
  test/data/testSP.py
  test/data/testSPun.py
Labels: maintenance, tests

#447 Orca CASSCF
  cclib/parser/orcaparser.py
Labels: ORCA, feature

#506 Adds metadata parsing for ORCA and enables metadata tests for many programs.
  cclib/parser/orcaparser.py
  test/data/testSP.py
Labels: ORCA, parsers

#521 Fix warnings about unclosed files and replace ccopen with ccread
  test/io/testcjsonreader.py
  test/io/testcjsonwriter.py
  test/io/testfilewriter.py
  test/io/testmoldenwriter.py
  test/io/testwfxwriter.py
  test/io/testxyzwriter.py
  test/parser/testlogfileparser.py
Labels: maintenance, tests
