Repository cclib/cclib, pull requests merged in 2018-08, with the labels that each got.

#573 Molcas: Added functionality for mpenergies
  cclib/parser/molcasparser.py
  test/data/testMP.py
  test/testdata
Labels: Molcas

#556 Move documentation generation to main repository
  doc/Makefile
  doc/README.md
  doc/sphinx/.gitignore
  doc/sphinx/Makefile
  doc/sphinx/attributes.py
  doc/sphinx/changelog.rst
  doc/sphinx/conf.py
  doc/sphinx/contents.rst
  doc/sphinx/coverage.py
  doc/sphinx/data.rst
  doc/sphinx/data_dev.rst
  doc/sphinx/data_notes.rst
  doc/sphinx/development.rst
  doc/sphinx/docs_common.py
  doc/sphinx/how_to_install.rst
  doc/sphinx/how_to_parse.rst
  doc/sphinx/index.rst
  doc/sphinx/make.bat
  doc/sphinx/methods.rst
  doc/sphinx/old/development_sourceforge.rst
  travis/build_deploy_docs_manually.sh
Labels: docs, maintenance

#578 Refactor CJSON writer so the Python dict is directly available
  cclib/io/cjsonwriter.py
Labels: io

#588 Molcas: Added files for C_bigbasis calculations
  data/Molcas/basicOpenMolcas18.0/C_bigbasis.in
  data/Molcas/basicOpenMolcas18.0/C_bigbasis.out
Labels: Molcas

#567 Turbomole: Added functionality for sorting the inputs to Turbomole parser
  cclib/io/ccio.py
Labels: Turbomole

#574 Molcas: Added functionality for ccenergies
  cclib/parser/molcasparser.py
  test/data/testCC.py
  test/testdata
Labels: Molcas

#589 Turbomole: Added functionality to parse mpenergies and ccenergies
  cclib/parser/turbomoleparser.py
  test/data/testMP.py
Labels: Turbomole

#582 Allow set_attribute to work with NumPy quantities
  cclib/parser/logfileparser.py
Labels: maintenance

#586 Add ccframe, a script that writes data table files from logfiles
  cclib/io/__init__.py
  cclib/io/ccio.py
  cclib/scripts/ccframe.py
  doc/sphinx/how_to_parse.rst
  setup.py
  test/io/testscripts.py
Labels: feature, scripts

#595 Add Stoichiometry method
  cclib/method/nuclear.py
  test/method/testnuclear.py
Labels: methods

#596 Fix open file warnings
  cclib/io/cjsonreader.py
  test/test_data.py
Labels: maintenance

#601 Psi4: add unit test files for 1.2.1
  data/Psi4/basicPsi4-1.2.1/C_bigbasis.in
  data/Psi4/basicPsi4-1.2.1/C_bigbasis.out
  data/Psi4/basicPsi4-1.2.1/dvb_gopt_rhf.in
  data/Psi4/basicPsi4-1.2.1/dvb_gopt_rhf.out
  data/Psi4/basicPsi4-1.2.1/dvb_gopt_rks.in
  data/Psi4/basicPsi4-1.2.1/dvb_gopt_rks.out
  data/Psi4/basicPsi4-1.2.1/dvb_ir_rhf.in
  data/Psi4/basicPsi4-1.2.1/dvb_ir_rhf.out
  data/Psi4/basicPsi4-1.2.1/dvb_sp_rhf.in
  data/Psi4/basicPsi4-1.2.1/dvb_sp_rhf.out
  data/Psi4/basicPsi4-1.2.1/dvb_sp_rks.in
  data/Psi4/basicPsi4-1.2.1/dvb_sp_rks.out
  data/Psi4/basicPsi4-1.2.1/dvb_sp_rohf.in
  data/Psi4/basicPsi4-1.2.1/dvb_sp_rohf.out
  data/Psi4/basicPsi4-1.2.1/dvb_sp_uhf.in
  data/Psi4/basicPsi4-1.2.1/dvb_sp_uhf.out
  data/Psi4/basicPsi4-1.2.1/dvb_sp_uks.in
  data/Psi4/basicPsi4-1.2.1/dvb_sp_uks.out
  data/Psi4/basicPsi4-1.2.1/water_ccsd(t).in
  data/Psi4/basicPsi4-1.2.1/water_ccsd(t).out
  data/Psi4/basicPsi4-1.2.1/water_ccsd.in
  data/Psi4/basicPsi4-1.2.1/water_ccsd.out
  data/Psi4/basicPsi4-1.2.1/water_mp2.in
  data/Psi4/basicPsi4-1.2.1/water_mp2.out
Labels: Psi, tests

#584 Update minimum required 3.x version from 3.2 to 3.4
  .travis.yml
  doc/sphinx/how_to_install.rst
  requirements.txt
Labels: docs, maintenance

#576 Support and tests for parsing time from BOMD trajectories, take 2
  cclib/parser/nwchemparser.py
  cclib/parser/orcaparser.py
  cclib/parser/qchemparser.py
  cclib/parser/utils.py
  data/Gaussian/basicGaussian09/dvb_bomd.in
  data/Gaussian/basicGaussian09/dvb_bomd.out
  data/NWChem/basicNWChem6.6/dvb_bomd_ks.nw
  data/NWChem/basicNWChem6.6/dvb_bomd_ks.out
  data/ORCA/basicORCA3.0/dvb_bomd.in
  data/ORCA/basicORCA3.0/dvb_bomd.out
  data/QChem/basicQChem4.2/dvb_bomd.in
  data/QChem/basicQChem4.2/dvb_bomd.out
  test/data/testBOMD.py
  test/regression.py
  test/test_data.py
  test/testdata
Labels: NWChem, ORCA, QChem, feature, parsers

#603 Add regression test for CdtetraM1B3LYP logfile
  test/regression.py
Labels: GAMESS, regression
