Repository cclib/cclib, pull requests merged in 2018-11, with the labels that each got.

#645 Update unit names in convertor
  cclib/parser/adfparser.py
  cclib/parser/gamessparser.py
  cclib/parser/gaussianparser.py
  cclib/parser/jaguarparser.py
  cclib/parser/molcasparser.py
  cclib/parser/qchemparser.py
  cclib/parser/utils.py
  test/data/testCI.py
  test/data/testvib.py
  test/parser/testutils.py
  test/regression.py
  test/test_utils.py
Labels: maintenance, parsers

#639 More psi4 fixes
  cclib/parser/psi4parser.py
Labels: Psi, regression

#642 Add unit tests for missing required attributes in population methods
  cclib/method/cspa.py
  cclib/method/lpa.py
  cclib/method/mpa.py
  cclib/method/opa.py
  cclib/method/population.py
  test/method/testpopulation.py
Labels: methods, tests

#640 Finish up handling of absent dipole moments in CJSON writer
  cclib/io/cjsonwriter.py
  cclib/io/filewriter.py
  test/io/testcjsonwriter.py
Labels: io

#646 GAMESS: fix for parsing EOM-CC output (etenergies ignored)
  cclib/parser/gamessparser.py
  test/regression.py
Labels: GAMESS, regression

#651 ORCA: fix for missing * terminator in echoed input file
  cclib/parser/orcaparser.py
Labels: ORCA, regression

#647 Switch from unittest to pytest
  .gitignore
  .travis.yml
  requirements.txt
  test/conftest.py
  test/pytest.ini
  test/regression.py
  test/test_io.py
  test/testall.py
  travis/run_pytest.sh
  travis/run_travis_tests.sh
Labels: tests

#644 CJSON bond atom index should start from 0
  cclib/io/cjsonwriter.py
  test/io/testcjsonwriter.py
Labels: io

#656 Fixes for Gaussian98 G3 job from NIST CCCBDB
  cclib/parser/gaussianparser.py
  cclib/parser/logfileparser.py
  test/regression.py
Labels: Gaussian, regression

#658 Log error and break on StopIteration in extract
  cclib/parser/logfileparser.py
  test/regression.py
Labels: Gaussian, parsers, regression

#655 Add pytest-generated code coverage to the docs
  .travis.yml
  doc/sphinx/development.rst
  travis/build_docs.bash
Labels: docs
