Repository cclib/cclib, pull requests merged in 2018-06, with the labels that each got.

#529 Implements vibfreqs, vibrirs and vibdisps for Molcas
  cclib/parser/molcasparser.py
  data/Molcas/basicOpenMolcas18.0/dvb_gopt.in
  data/Molcas/basicOpenMolcas18.0/dvb_gopt.out
  data/Molcas/basicOpenMolcas18.0/dvb_ir.in
  data/Molcas/basicOpenMolcas18.0/dvb_ir.out
  test/data/testvib.py
  test/testdata
Labels: Molcas, parsers

#530 Implements Geomentrical Optimization attributes.
  cclib/parser/molcasparser.py
  test/data/testGeoOpt.py
  test/data/testvib.py
Labels: Molcas, parsers

#531 Add basic EditorConfig file.
  .editorconfig
Labels: maintenance

#534 Add regression tests for G09 relaxed scans
  cclib/parser/data.py
  test/regression.py
Labels: Gaussian, regression

#540 added complete dvb_gopt files for Molcas to ensure entire test coverage
  data/Molcas/basicOpenMolcas18.0/dvb_gopt.in
  data/Molcas/basicOpenMolcas18.0/dvb_gopt.out
  test/data/testGeoOpt.py
  test/testdata
Labels: Molcas, parsers

#539 Exit with status 1 when there are any failures as well
  test/test_data.py
Labels: maintenance, tests

#546 Adding cleaner dvb_gopt outputs for MOLCAS
  data/Molcas/basicOpenMolcas18.0/dvb_gopt.in
  data/Molcas/basicOpenMolcas18.0/dvb_gopt.out
Labels: Molcas

#544 Parsing dnorm threshold and values into scftargets and scfvalues
  cclib/parser/molcasparser.py
Labels: Molcas

#543 Parsing geotargets, geovalues correctly and enabling optdone for Molcas
  cclib/parser/molcasparser.py
  test/data/testGeoOpt.py
Labels: Molcas

#532 Enable testing single files by passing relative paths as arguments
  test/regression.py
Labels: regression

#552 Don't install the test directory
  setup.py
Labels: maintenance, regression

#545 Added test to check number of SCF targets for each software
  test/data/testSP.py
  test/regression.py
  test/testdata
Labels: parsers, tests

#554 Initial Turbomole Parser
  cclib/parser/__init__.py
  cclib/parser/turbomoleparser.py
Labels: Turbomole
