Repository cclib/cclib, pull requests merged in 2019-02, with the labels that each got.

#686 Add some pretty printing to ccget
  cclib/scripts/ccget.py
Labels: feature, scripts

#684 ORCA: parse CD spectrum (rotatory strengths)
  cclib/parser/orcaparser.py
  doc/sphinx/coverage.py
  test/data/testTD.py
  test/regression.py
Labels: ORCA, feature

#680 DALTON: fix parsing electronic transition coefficients for non-DFT wavefunctions
  cclib/parser/daltonparser.py
  data/DALTON/basicDALTON-2013/dvb_td.dal
  data/DALTON/basicDALTON-2013/dvb_td.out
  data/DALTON/basicDALTON-2015/dvb_td.dal
  data/DALTON/basicDALTON-2015/dvb_td.out
  test/data/testTD.py
  test/io/testccio.py
  test/regression.py
Labels: Dalton, bug, regression, tests

#689 Set default logging level in test_data to ERROR
  test/test_data.py
Labels: maintenance

#690 Fix logging of attribute creation and one improvement for Molpro
  cclib/parser/logfileparser.py
  cclib/parser/molproparser.py
Labels: bug, parsers

#692 Merge back in changes from release 1.6.1
  cclib/parser/logfileparser.py
  cclib/parser/molproparser.py
  test/test_data.py
Labels: maintenance

#691 Release change
  ANNOUNCE
  CHANGELOG
  INSTALL
  THANKS
  cclib/__init__.py
  setup.py
Labels: maintenance

#685 Removing unnecessary asserts
  test/regression.py
Labels: regression

#696 Don't assume regressions are files
  test/regression.py
Labels: maintenance, regression

#693 Update docs for v1.6.1
  doc/sphinx/Makefile
  doc/sphinx/changelog.rst
  doc/sphinx/conf.py
  doc/sphinx/development.rst
  doc/sphinx/how_to_install.rst
  doc/sphinx/index.rst
Labels: docs, maintenance

#697 Release 1.6.1
  ANNOUNCE
  CHANGELOG
  INSTALL
  THANKS
  cclib/__init__.py
  doc/sphinx/Makefile
  doc/sphinx/changelog.rst
  doc/sphinx/conf.py
  doc/sphinx/development.rst
  doc/sphinx/how_to_install.rst
  doc/sphinx/index.rst
  setup.py
Labels: maintenance

#695 Use ERROR loglevel for regressions by default, and add --debug option
  test/regression.py
Labels: maintenance, regression

#698 Regressions: skip test methods requiring scfvalues when they are not present for one old ADF unit test
  test/regression.py
Labels: ADF, regression

#702 Skipping Psi4 atommasses absent in old tests.
  test/regression.py
Labels: Psi, regression

#700 MOPAC: enable GeoOpt unit test and move logfile to basic* subdir as is the convention
  cclib/parser/mopacparser.py
  data/MOPAC/basicMOPAC2016/dvb_gopt.arc
  data/MOPAC/basicMOPAC2016/dvb_gopt.mop
  data/MOPAC/basicMOPAC2016/dvb_gopt.out
  test/data/testGeoOpt.py
  test/testdata
Labels: Mopac, tests

#694 Add value checking of data, and add check for negative etenergies
  cclib/parser/data.py
  cclib/parser/logfileparser.py
  test/method/testmoments.py
  test/parser/testdata.py
  test/parser/testlogfileparser.py
Labels: parsers

#703 Remove redundant test
  test/regression.py
Labels: Molcas, regression
