Repository cclib/cclib, pull requests merged in 2019-01, with the labels that each got.

#679 QChem: consolidate parsing MO energies and symmetries
  cclib/parser/qchemparser.py
  requirements.txt
Labels: QChem, regression

#659 Natural spin orbitals
  cclib/parser/data.py
  cclib/parser/gaussianparser.py
  cclib/parser/logfileparser.py
  data/Gaussian/basicGaussian16/dvb_sp_no.fchk
  data/Gaussian/basicGaussian16/dvb_sp_no.gjf
  data/Gaussian/basicGaussian16/dvb_sp_no.out
  data/Gaussian/basicGaussian16/dvb_un_sp_nso.fchk
  data/Gaussian/basicGaussian16/dvb_un_sp_nso.gjf
  data/Gaussian/basicGaussian16/dvb_un_sp_nso.log
  test/data/testSP.py
  test/data/testSPun.py
  test/regression.py
  test/testdata
Labels: Gaussian, feature

#682 Fix deprecation warnings
  cclib/io/cjsonwriter.py
  cclib/method/moments.py
  test/data/testBOMD.py
  test/data/testBasis.py
  test/data/testCC.py
  test/data/testCI.py
  test/data/testGeoOpt.py
  test/data/testMP.py
  test/data/testSP.py
  test/data/testSPun.py
  test/data/testScan.py
  test/data/testTD.py
  test/method/testvolume.py
  test/regression.py
Labels: maintenance, tests

#681 Gaussian: append to lists rather than resize arrays for HOMOs
  cclib/parser/gaussianparser.py
Labels: Gaussian, maintenance
