Repository cclib/cclib, pull requests merged in 2019-03, with the labels that each got.

#706 ORCA 4.1.x adds a new line in vibrational frequencies output (test data update)
  cclib/parser/orcaparser.py
  data/ORCA/basicORCA3.0/dvb_bomd.in
  data/ORCA/basicORCA3.0/dvb_bomd.out
  data/ORCA/basicORCA3.0/dvb_gopt.inp
  data/ORCA/basicORCA3.0/dvb_gopt.out
  data/ORCA/basicORCA3.0/dvb_ir.inp
  data/ORCA/basicORCA3.0/dvb_ir.out
  data/ORCA/basicORCA3.0/dvb_raman.inp
  data/ORCA/basicORCA3.0/dvb_raman.out
  data/ORCA/basicORCA3.0/dvb_scan.inp
  data/ORCA/basicORCA3.0/dvb_scan.out
  data/ORCA/basicORCA3.0/dvb_sp.inp
  data/ORCA/basicORCA3.0/dvb_sp.out
  data/ORCA/basicORCA3.0/dvb_sp_un.inp
  data/ORCA/basicORCA3.0/dvb_sp_un.out
  data/ORCA/basicORCA3.0/dvb_td.inp
  data/ORCA/basicORCA3.0/dvb_td.out
  data/ORCA/basicORCA4.1/Trp_polar.in
  data/ORCA/basicORCA4.1/Trp_polar.out
  data/ORCA/basicORCA4.1/dvb_gopt.inp
  data/ORCA/basicORCA4.1/dvb_gopt.out
  data/ORCA/basicORCA4.1/dvb_ir.inp
  data/ORCA/basicORCA4.1/dvb_ir.out
  data/ORCA/basicORCA4.1/dvb_raman.inp
  data/ORCA/basicORCA4.1/dvb_raman.out
  data/ORCA/basicORCA4.1/dvb_rocis.inp
  data/ORCA/basicORCA4.1/dvb_rocis.out
  data/ORCA/basicORCA4.1/dvb_sp.inp
  data/ORCA/basicORCA4.1/dvb_sp.out
  data/ORCA/basicORCA4.1/dvb_sp_un.inp
  data/ORCA/basicORCA4.1/dvb_sp_un.out
  data/ORCA/basicORCA4.1/dvb_td.inp
  data/ORCA/basicORCA4.1/dvb_td.out
  test/regression.py
  test/test_data.py
  test/testdata
Labels: ORCA, tests

#715 Addressing ADF regression tests so values not present in old files are not parsed
  test/regression.py
Labels: ADF, regression

#675 Old regression tests errors are now counted.
  test/regression.py
Labels: regression

#714 Fixing Jaguar tests to not test values that are not present in old regression tests.
  test/regression.py
Labels: Jaguar, regression

#718 Log to stderr by default
  cclib/parser/logfileparser.py
Labels: io

#720 Fix silent regression failures
  test/regression.py
Labels: regression
