Repository cclib/cclib, pull requests merged in 2019-10, with the labels that each got.

#772 Fixing bug where Mulliken charges weren't getting parsed in Gaus…
  cclib/parser/gaussianparser.py
  test/data/testSPun.py
Labels: Gaussian, parsers, tests

#775 Fix duplicate method name in testutils.py, fixes #773
  test/parser/testutils.py
Labels: maintenance, tests

#774 Change PeriodicTable class to use periodictable library (#604)
  cclib/parser/utils.py
  setup.py
  test/parser/testutils.py
Labels: feature, maintenance

#777 Gamess thermochemistry
  cclib/parser/gamessparser.py
  test/data/testvib.py
Labels: GAMESS
