Repository cclib/cclib, pull requests merged in 2020-06, with the labels that each got.

#867 Pin biopython to 1.76, because they dropped Python2 support in 1.77
  requirements.txt
Labels: maintenance

#860 Fuzzy matching attribute arguments to ccget
  cclib/scripts/ccget.py
  test/io/testscripts.py
Labels: feature, scripts

#864 [Gaussian] Parse scannames and scanparm for relaxed PES scans, and add more unit tests
  cclib/parser/data.py
  cclib/parser/gaussianparser.py
  data/Gaussian/basicGaussian16/dvb_scan_relaxed.fchk
  data/Gaussian/basicGaussian16/dvb_scan_relaxed.gjf
  data/Gaussian/basicGaussian16/dvb_scan_relaxed.log
  data/Gaussian/basicGaussian16/dvb_scan_unrelaxed.fchk
  data/Gaussian/basicGaussian16/dvb_scan_unrelaxed.gjf
  data/Gaussian/basicGaussian16/dvb_scan_unrelaxed.log
  doc/sphinx/data_notes.rst
  test/data/testScan.py
  test/regression.py
  test/testdata
Labels: Gaussian, bug

#877 Update changelog and bump version to v1.6.3
  ANNOUNCE
  CHANGELOG
  INSTALL
  doc/sphinx/Makefile
  doc/sphinx/conf.py
  doc/sphinx/index.rst
  setup.py
Labels: maintenance

#869 Feat: Bickelhaupt Charges
  cclib/method/__init__.py
  cclib/method/bickelhaupt.py
  doc/sphinx/methods.rst
  test/method/dvb_sp.bpa
  test/method/dvb_un_sp.bpa
  test/method/dvb_un_sp.bpaspin
  test/method/testpopulation.py
Labels: feature, methods

#878 Merge release 1.6.3 into master
  ANNOUNCE
  CHANGELOG
  INSTALL
  cclib/parser/data.py
  cclib/parser/gaussianparser.py
  data/Gaussian/basicGaussian16/dvb_scan_relaxed.fchk
  data/Gaussian/basicGaussian16/dvb_scan_relaxed.gjf
  data/Gaussian/basicGaussian16/dvb_scan_relaxed.log
  data/Gaussian/basicGaussian16/dvb_scan_unrelaxed.fchk
  data/Gaussian/basicGaussian16/dvb_scan_unrelaxed.gjf
  data/Gaussian/basicGaussian16/dvb_scan_unrelaxed.log
  doc/sphinx/Makefile
  doc/sphinx/conf.py
  doc/sphinx/data_notes.rst
  doc/sphinx/index.rst
  setup.py
  test/data/testScan.py
  test/regression.py
  test/testdata
Labels: maintenance

#881 Add horton in Travis configurations to enable testing
  .travis.yml
Labels: bridge, maintenance

#882 Add stencil code that detects horton version
  cclib/bridge/__init__.py
  cclib/bridge/cclib2horton.py
Labels: bridge, maintenance

#873 Add horton 2 --> cclib bridge, along with tests
  cclib/bridge/cclib2horton.py
  test/bridge/testhorton.py
  test/test_bridge.py
  test/test_data.py
Labels: bridge, feature

#883 Add horton 2 <-- cclib bridge, along with tests
  cclib/bridge/cclib2horton.py
  test/bridge/testhorton.py
Labels: bridge

#884 Add horton 3 --> cclib bridge, along with tests
  cclib/bridge/cclib2horton.py
  test/bridge/testhorton.py
  test/test_bridge.py
Labels: bridge
