Repository cclib/cclib, pull requests merged in 2020-01, with the labels that each got.

#787 Fix for OB import change
  cclib/bridge/cclib2openbabel.py
  cclib/io/ccio.py
  cclib/io/filewriter.py
  test/bridge/testopenbabel.py
Labels: maintenance

#784 Making parsing of free energy work for 4.2.0
  cclib/parser/orcaparser.py
Labels: ORCA, regression

#788 Parsing ORCA MP2 gradients
  cclib/parser/orcaparser.py
  test/regression.py
Labels: ORCA, regression

#790 Fixing problem with units on moment of inertia tensor
  cclib/method/nuclear.py
  test/method/testnuclear.py
Labels: bug, methods

#792 Adding ORCA Møller–Plesset energies
  cclib/parser/orcaparser.py
  data/ORCA/basicORCA4.1/water_mp2.inp
  data/ORCA/basicORCA4.1/water_mp2.out
  data/ORCA/basicORCA4.1/water_mp3.inp
  data/ORCA/basicORCA4.1/water_mp3.out
  data/ORCA/basicORCA4.2/water_mp2.inp
  data/ORCA/basicORCA4.2/water_mp2.out
  data/ORCA/basicORCA4.2/water_mp3.inp
  data/ORCA/basicORCA4.2/water_mp3.out
  doc/sphinx/data_notes.rst
  doc/sphinx/development.rst
  test/testdata
Labels: ORCA, feature
