Repository cclib/cclib, pull requests merged in 2020-03, with the labels that each got.

#794 Added gradient parsing to molcasparser
  cclib/parser/molcasparser.py
  data/Molcas/basicOpenMolcas18.0/test_espf.out
  test/data/testGeoOpt.py
Labels: Molcas

#803 Rebased version of #227
  cclib/parser/data.py
  cclib/parser/gaussianparser.py
  test/data/testTD.py
Labels: Gaussian, feature, maintenance

#795 [docs] Fix Raman intensities->activities (as per #791)
  cclib/parser/daltonparser.py
  cclib/parser/data.py
  cclib/parser/gamessparser.py
  doc/sphinx/development.rst
Labels: docs

#804 ORCA parser fails for long (1,000+ lines) inputs
  cclib/parser/orcaparser.py
  test/regression.py
Labels: ORCA, bug

#813 Correct vibfreqs, vibdisps, vibirs and vibramans for single atom
  cclib/parser/orcaparser.py
  test/regression.py
Labels: ORCA, bug

#809 Correct description of pressure
  cclib/parser/data.py
Labels: docs

#817 Correct parsing of entropy for single atoms in ORCA
  cclib/parser/orcaparser.py
  test/regression.py
Labels: ORCA, regression

#811 Make makecclib the inverse of makeopenbabel
  cclib/bridge/cclib2openbabel.py
  test/bridge/testopenbabel.py
Labels: bridge

#819 [Psi4] Remove 1.0 unit test logfiles and add them to the regression suite
  data/Psi4/basicPsi4-1.0/C_bigbasis.in
  data/Psi4/basicPsi4-1.0/C_bigbasis.out
  data/Psi4/basicPsi4-1.0/dvb_gopt_rhf.in
  data/Psi4/basicPsi4-1.0/dvb_gopt_rhf.out
  data/Psi4/basicPsi4-1.0/dvb_gopt_rks.in
  data/Psi4/basicPsi4-1.0/dvb_gopt_rks.out
  data/Psi4/basicPsi4-1.0/dvb_ir_rhf.in
  data/Psi4/basicPsi4-1.0/dvb_ir_rhf.out
  data/Psi4/basicPsi4-1.0/dvb_sp_rhf.in
  data/Psi4/basicPsi4-1.0/dvb_sp_rhf.out
  data/Psi4/basicPsi4-1.0/dvb_sp_rks.in
  data/Psi4/basicPsi4-1.0/dvb_sp_rks.out
  data/Psi4/basicPsi4-1.0/dvb_sp_rohf.in
  data/Psi4/basicPsi4-1.0/dvb_sp_rohf.out
  data/Psi4/basicPsi4-1.0/dvb_sp_uhf.in
  data/Psi4/basicPsi4-1.0/dvb_sp_uhf.out
  data/Psi4/basicPsi4-1.0/dvb_sp_uks.in
  data/Psi4/basicPsi4-1.0/dvb_sp_uks.out
  data/Psi4/basicPsi4-1.0/water_ccsd(t).in
  data/Psi4/basicPsi4-1.0/water_ccsd(t).out
  data/Psi4/basicPsi4-1.0/water_ccsd.in
  data/Psi4/basicPsi4-1.0/water_ccsd.out
  data/Psi4/basicPsi4-1.0/water_mp2.in
  data/Psi4/basicPsi4-1.0/water_mp2.out
  test/io/testwfxwriter.py
  test/method/testorbitals.py
  test/regression.py
Labels: Psi, regression

#820 Enable testing WFXWriter on ORCA
  test/io/testwfxwriter.py
Labels: ORCA, io
