Repository cclib/cclib, pull requests merged in 2020-11, with the labels that each got.

#971 Fix decode call that apparently sometimes breaks on Travis for Python 3.7
  cclib/method/stockholder.py
Labels: maintenance

#970 Add scipy as a dependency
  setup.py
Labels: maintenance

#968 Fix 'no attribute scftargets' (#962)
  cclib/parser/gaussianparser.py
  test/regression.py
Labels: Gaussian, bug, parsers

#972 Remove Python 2 support
  .travis.yml
  cclib/bridge/__init__.py
  cclib/bridge/cclib2horton.py
  cclib/bridge/cclib2pyquante.py
  cclib/io/ccio.py
  cclib/io/filereader.py
  cclib/io/filewriter.py
  cclib/io/moldenwriter.py
  cclib/method/calculationmethod.py
  cclib/method/cda.py
  cclib/method/moments.py
  cclib/method/stockholder.py
  cclib/method/volume.py
  cclib/parser/adfparser.py
  cclib/parser/daltonparser.py
  cclib/parser/data.py
  cclib/parser/gamessparser.py
  cclib/parser/gaussianparser.py
  cclib/parser/logfileparser.py
  cclib/parser/molcasparser.py
  cclib/parser/mopacparser.py
  cclib/parser/orcaparser.py
  cclib/parser/qchemparser.py
  cclib/parser/turbomoleparser.py
  cclib/parser/utils.py
  cclib/progress/textprogress.py
  cclib/scripts/ccget.py
  cclib/scripts/ccwrite.py
  cclib/scripts/cda.py
  doc/sphinx/attributes.py
  doc/sphinx/coverage.py
  doc/sphinx/docs_common.py
  manifest.py
  requirements.txt
  setup.py
  test/io/testccio.py
  test/io/testscripts.py
  test/method/testbader.py
  test/method/testcda.py
  test/method/testddec.py
  test/method/testelectrons.py
  test/method/testhirshfeld.py
  test/method/testmbo.py
  test/method/testmoments.py
  test/method/testnuclear.py
  test/method/testpopulation.py
  test/method/testvolume.py
  test/parser/testdata.py
  test/parser/testlogfileparser.py
  test/regression.py
  test/test_data.py
Labels: maintenance

#979 Fix quoting issue
  test/regression.py
Labels: regression

#981 Fixed parsing of two-character elements in Turbomole parser (rebased)
  .gitignore
  cclib/parser/turbomoleparser.py
Labels: Turbomole, bug

#976 tentative fix for issue #974
  cclib/parser/qchemparser.py
Labels: QChem, bug
