Repository cclib/cclib, pull requests merged in 2020-04, with the labels that each got.

#829 Update visual tests to latest Gaussian, GAMESS, and ORCA files
  test/test_data.py
Labels: tests

#828 Turbomole: enable coupled cluster test
  test/data/testCC.py
Labels: Turbomole, tests

#826 cElementTree has been deprecated since Python 3.3 and removed in Python 3.9
  cclib/io/cmlwriter.py
Labels: io, maintenance

#769 Enable metadata tests
  test/data/testSP.py
  test/regression.py
Labels: tests

#783 adding parser for gaussian mulliken atom spins
  cclib/parser/gaussianparser.py
  test/data/testSPun.py
Labels: Gaussian, feature

#834 Run regression tests on Travis with --traceback flag
  travis/run_pytest.bash
Labels: maintenance

#800 Ensure ccframe consistently overwrites existing data files
  cclib/scripts/ccframe.py
  doc/sphinx/how_to_parse.rst
Labels: bug, scripts

#818 Clean up ORCA thermochemistry section a bit
  cclib/parser/orcaparser.py
  test/regression.py
Labels: ORCA, maintenance

#835 Revert "Run regression tests on Travis with --traceback flag"
  travis/run_pytest.bash
Labels: maintenance

#840 ORCA: parse ccenergies
  cclib/parser/orcaparser.py
  data/ORCA/basicORCA4.1/water_ccsd.inp
  data/ORCA/basicORCA4.1/water_ccsd.out
  data/ORCA/basicORCA4.1/water_ccsd_t.inp
  data/ORCA/basicORCA4.1/water_ccsd_t.out
  data/ORCA/basicORCA4.2/water_ccsd.inp
  data/ORCA/basicORCA4.2/water_ccsd.out
  data/ORCA/basicORCA4.2/water_ccsd_t.inp
  data/ORCA/basicORCA4.2/water_ccsd_t.out
  test/regression.py
  test/testdata
Labels: ORCA
