Repository cclib/cclib, pull requests merged in 2021-07, with the labels that each got.

#1039 Elapsed and CPU time in gaussian
  cclib/parser/gaussianparser.py
  cclib/parser/qchemparser.py
  test/data/testSP.py
  test/regression.py
Labels: Gaussian, feature

#1046 QChem: keep the last vibrational analysis section, not the first
  cclib/parser/qchemparser.py
  test/regression.py
Labels: QChem, regression

#1035 Edited documentation for ``grads`` for clarity
  doc/sphinx/data_notes.rst
Labels: docs

#1029 Turbomole es td
  cclib/parser/turbomoleparser.py
  test/data/testTD.py
  test/data/testTDun.py
  test/testdata
Labels: Turbomole

#1030 Turbomole es ricc2
  cclib/parser/turbomoleparser.py
  test/data/testTD.py
  test/testdata
Labels: Turbomole

#1051 Switch from Travis to GitHub Actions in docs
  .editorconfig
  README.md
  doc/sphinx/development.rst
Labels: docs, maintenance

#1002 Parses NMR for ORCA (rebased)
  cclib/parser/data.py
  cclib/parser/orcaparser.py
  data/ORCA/basicORCA4.1/dvb_nmr.inp
  data/ORCA/basicORCA4.1/dvb_nmr.out
  data/ORCA/basicORCA4.2/dvb_nmr.inp
  data/ORCA/basicORCA4.2/dvb_nmr.out
  doc/sphinx/data_notes.rst
  test/data/testNMR.py
  test/test_data.py
  test/testdata
Labels: ORCA, feature, parsers

#1052 Fix broken links in documentation
  doc/sphinx/data_notes.rst
  doc/sphinx/development.rst
  doc/sphinx/how_to_install.rst
  doc/sphinx/index.rst
Labels: docs, maintenance

#1056 Fix natural charge parsing
  cclib/parser/gaussianparser.py
  test/regression.py
Labels: Gaussian, bug

#1037 Turbomole scf fix
  cclib/parser/turbomoleparser.py
Labels: Turbomole
