Repository cclib/cclib, pull requests merged in 2021-04, with the labels that each got.

#966 Parsing Gaussian ONIOM files
  cclib/parser/gaussianparser.py
Labels: Gaussian

#975 extending pyscf bridge to basis
  cclib/bridge/cclib2pyscf.py
  test/__init__.py
  test/bridge/testpyscf.py
Labels: bridge, feature

#984 QChem: assign correct indices for open-shell systems
  cclib/parser/qchemparser.py
Labels: QChem, bug

#995 Add zero-point vibrational energy to most parsers
  cclib/parser/adfparser.py
  cclib/parser/daltonparser.py
  cclib/parser/gamessparser.py
  cclib/parser/gamessukparser.py
  cclib/parser/jaguarparser.py
  cclib/parser/molcasparser.py
  cclib/parser/molproparser.py
  cclib/parser/orcaparser.py
  cclib/parser/psi4parser.py
  cclib/parser/qchemparser.py
  cclib/parser/turbomoleparser.py
  test/data/testvib.py
  test/regression.py
  test/testdata
Labels: parsers

#1021 Turbomole: Base bug fixes
  cclib/io/ccio.py
  test/data/skip.py
Labels: Turbomole
