Repository cclib/cclib, pull requests merged in 2021-05, with the labels that each got.

#956 Extend pyscf bridge to handle MOs
  cclib/bridge/__init__.py
  cclib/bridge/cclib2pyscf.py
  test/bridge/testpyscf.py
Labels: bridge

#1041 Remove duplicate files that cause name collisions on certain OS
  data/Turbomole/basicTurbomole7.4/CO_cc2_TD/CCfE0-1--1---1
  data/Turbomole/basicTurbomole7.4/CO_cc2_TD/CCfE0-1--1---2
  data/Turbomole/basicTurbomole7.4/CO_cc2_TD/CCfE0-1--1---3
  data/Turbomole/basicTurbomole7.4/CO_cc2_TD/CCfE0-1--1---4
  data/Turbomole/basicTurbomole7.4/CO_cc2_TD/CCfE0-1--1---5
  data/Turbomole/basicTurbomole7.4/CO_cc2_TD/CCfE0-1--1---6
  data/Turbomole/basicTurbomole7.4/CO_cc2_TD/CCfE0-1--1---7
  data/Turbomole/basicTurbomole7.4/CO_cc2_TD/CCfE0-1--1---8
  data/Turbomole/basicTurbomole7.4/CO_cc2_TD/CCfE0-1--1---9
  data/Turbomole/basicTurbomole7.4/CO_cc2_TD/CCfE0-1--1--10
Labels: Turbomole, maintenance

#812 Improve parsing of entropy (and enthalpy and freeenergy)
  cclib/parser/data.py
  cclib/parser/molcasparser.py
  cclib/parser/orcaparser.py
  cclib/parser/qchemparser.py
  test/data/testvib.py
Labels: bug, parsers

#1022 Turbomole meta basis
  cclib/parser/turbomoleparser.py
  test/data/testSP.py
Labels: Turbomole

#1024 Turbomole moments
  cclib/parser/turbomoleparser.py
  test/data/testSP.py
Labels: Turbomole

#1023 Turbomole meta misc
  cclib/parser/turbomoleparser.py
  test/data/testGeoOpt.py
  test/testdata
Labels: Turbomole

#1025 Turbomole mos
  cclib/parser/turbomoleparser.py
  test/data/testGeoOpt.py
  test/data/testSP.py
  test/data/testSPun.py
Labels: Turbomole

#918 Extracting APT charges and any summed atom charges / spins from Gaussian
  cclib/parser/data.py
  cclib/parser/gaussianparser.py
Labels: Gaussian, parsers
