Repository cclib/cclib, pull requests merged in 2022-09, with the labels that each got.

#1150 Fix for symmetry detection in Gaussian with ghost atoms
  cclib/parser/gaussianparser.py
  test/regression.py
Labels: bug, Gaussian

#1151 Optstate
  cclib/parser/gaussianparser.py
  test/data/testTD.py
Labels: parsers

#1054 Parse rotational constants and molecular mass for Gaussian logs
  cclib/parser/data.py
  cclib/parser/gaussianparser.py
  cclib/parser/mopacparser.py
  test/data/testGeoOpt.py
  test/data/testSP.py
  test/method/testnuclear.py
Labels: Gaussian

#1152 Break apart atomcharges tests per type into Mulliken and Lowdin
  cclib/parser/psi4parser.py
  test/data/testSP.py
  test/data/testSPun.py
  test/regression.py
Labels: tests, Psi
