Repository cclib/cclib, pull requests merged in 2023-12, with the labels that each got.

#1312 remove Read the Docs config
  .github/workflows/cclib_docs_build.yml_
  .readthedocs.yml
Labels: maintenance, docs

#1315 Remove Qt4Progress
  cclib/progress/__init__.py
  cclib/progress/qt4progress.py
  pyproject.toml
  test/conftest.py
Labels: maintenance

#1320 `free_energy` --> `freeenergy` in `cclib2ase.py`
  cclib/bridge/cclib2ase.py
  test/bridge/testase.py
Labels: bug, bridge

#1296 Support for parsing xTB outputs
  .pre-commit-config.yaml
  cclib/bridge/cclib2ase.py
  cclib/io/ccio.py
  cclib/parser/__init__.py
  cclib/parser/xtbparser.py
  data/XTB/.gitignore
  data/XTB/basicXTB6.6.1/dvb_ir/charges
  data/XTB/basicXTB6.6.1/dvb_ir/dvb_ir.out
  data/XTB/basicXTB6.6.1/dvb_ir/dvb_ir.xyz
  data/XTB/basicXTB6.6.1/dvb_ir/g98.out
  data/XTB/basicXTB6.6.1/dvb_ir/hessian
  data/XTB/basicXTB6.6.1/dvb_ir/vibspectrum
  data/XTB/basicXTB6.6.1/dvb_ir/wbo
  data/XTB/basicXTB6.6.1/dvb_ir/xtbtopo.mol
  data/XTB/basicXTB6.6.1/dvb_opt/.xtboptok
  data/XTB/basicXTB6.6.1/dvb_opt/charges
  data/XTB/basicXTB6.6.1/dvb_opt/dvb_opt.engrad
  data/XTB/basicXTB6.6.1/dvb_opt/dvb_opt.out
  data/XTB/basicXTB6.6.1/dvb_opt/dvb_opt.xyz
  data/XTB/basicXTB6.6.1/dvb_opt/energy
  data/XTB/basicXTB6.6.1/dvb_opt/gradient
  data/XTB/basicXTB6.6.1/dvb_opt/wbo
  data/XTB/basicXTB6.6.1/dvb_opt/xtbopt.log
  data/XTB/basicXTB6.6.1/dvb_opt/xtbopt.xyz
  data/XTB/basicXTB6.6.1/dvb_opt/xtbtopo.mol
  data/XTB/basicXTB6.6.1/dvb_sp/charges
  data/XTB/basicXTB6.6.1/dvb_sp/dvb_sp.out
  data/XTB/basicXTB6.6.1/dvb_sp/dvb_sp.xyz
  data/XTB/basicXTB6.6.1/dvb_sp/wbo
  data/XTB/basicXTB6.6.1/dvb_sp/xtbtopo.mol
  test/data/skip.py
  test/data/testGeoOpt.py
  test/data/testSP.py
  test/data/testvib.py
  test/io/testccio.py
  test/regression.py
  test/test_data.py
  test/testdata
Labels: parsers, xTB

#1278 Gamess overlap bug fix.
  cclib/parser/gamessparser.py
Labels: regression, GAMESS

#1311 Migrate to pyproject.toml for package installation
  pyproject.toml
  requirements.txt
  setup.py
Labels: maintenance

#1328 Fix package installation
  .github/workflows/cclib_pytest.yml
  .pre-commit-config.yaml
  pyproject.toml
Labels: bug, maintenance

#1329 Add Dependabot configuration
  .github/dependabot.yml
Labels: maintenance

#1337 bump actions/upload-artifact and download-artifact from v3 to v4
  .github/workflows/cclib_pytest.yml
Labels: dependencies, github_actions
