Repository cclib/cclib, pull requests merged in 2023-04, with the labels that each got.

#1191 Orca Spin-Spin NMR Couplings
  cclib/parser/data.py
  cclib/parser/orcaparser.py
  data/ORCA/basicORCA5.0/dvb_coupling_nmr.inp
  data/ORCA/basicORCA5.0/dvb_coupling_nmr.out
  test/data/testNMR.py
  test/testdata
Labels: feature, ORCA

#1189 ORCA: fix parsing basis set, method, and etsyms from semiempirical methods
  cclib/parser/orcaparser.py
  test/regression.py
Labels: ORCA, regression

#1188 NWChem: enable version 7.0 unit tests with fixes
  cclib/parser/logfileparser.py
  cclib/parser/nwchemparser.py
  test/testdata
Labels: NWChem, tests
