Repository cclib/cclib, pull requests merged in 2023-02, with the labels that each got.

#1176 install pyquante2 with Python 3 fixes
  requirements.txt
Labels: maintenance

#1167 Timings
  cclib/parser/gaussianparser.py
  cclib/parser/orcaparser.py
  cclib/parser/turbomoleparser.py
  test/data/testSP.py
  test/regression.py
Labels: parsers, ORCA, Gaussian, Turbomole

#1166 Added excited state symmetry to etsyms param for Orca TD-DFT (previously only contained mult)
  cclib/parser/gaussianparser.py
  cclib/parser/orcaparser.py
  test/data/testTD.py
  test/regression.py
Labels: parsers, ORCA
