Repository cclib/cclib, pull requests merged in 2023-01, with the labels that each got.

#1175 Fix CI and increase Python version usage
  .github/workflows/cclib_pytest.yml
Labels: maintenance

#1133 NWChem: copy over newest data inputs and outputs before running 7.0
  cclib/parser/nwchemparser.py
  data/NWChem/basicNWChem7.0/C_bigbasis.in
  data/NWChem/basicNWChem7.0/C_bigbasis.out
  data/NWChem/basicNWChem7.0/C_bigbasis_spherical.in
  data/NWChem/basicNWChem7.0/C_bigbasis_spherical.out
  data/NWChem/basicNWChem7.0/Trp_polar.in
  data/NWChem/basicNWChem7.0/Trp_polar.out
  data/NWChem/basicNWChem7.0/dvb_bomd_ks.in
  data/NWChem/basicNWChem7.0/dvb_bomd_ks.out
  data/NWChem/basicNWChem7.0/dvb_dispersion_bp86_d3zero.in
  data/NWChem/basicNWChem7.0/dvb_dispersion_bp86_d3zero.out
  data/NWChem/basicNWChem7.0/dvb_gopt_hf.in
  data/NWChem/basicNWChem7.0/dvb_gopt_hf.out
  data/NWChem/basicNWChem7.0/dvb_gopt_ks.in
  data/NWChem/basicNWChem7.0/dvb_gopt_ks.out
  data/NWChem/basicNWChem7.0/dvb_ir.in
  data/NWChem/basicNWChem7.0/dvb_ir.out
  data/NWChem/basicNWChem7.0/dvb_sp_hf.in
  data/NWChem/basicNWChem7.0/dvb_sp_hf.out
  data/NWChem/basicNWChem7.0/dvb_sp_hf_overlaps.in
  data/NWChem/basicNWChem7.0/dvb_sp_hf_overlaps.out
  data/NWChem/basicNWChem7.0/dvb_sp_ks.in
  data/NWChem/basicNWChem7.0/dvb_sp_ks.out
  data/NWChem/basicNWChem7.0/dvb_sp_ks_overlaps.in
  data/NWChem/basicNWChem7.0/dvb_sp_ks_overlaps.out
  data/NWChem/basicNWChem7.0/dvb_td.in
  data/NWChem/basicNWChem7.0/dvb_td.out
  data/NWChem/basicNWChem7.0/dvb_un_sp_ks.in
  data/NWChem/basicNWChem7.0/dvb_un_sp_ks.out
  data/NWChem/basicNWChem7.0/water_ccsd(t).in
  data/NWChem/basicNWChem7.0/water_ccsd(t).out
  data/NWChem/basicNWChem7.0/water_mp2.in
  data/NWChem/basicNWChem7.0/water_mp2.out
Labels: NWChem, tests

#1173 Fix for crash when parsing multiple files with various parsers
  cclib/parser/adfparser.py
  cclib/parser/daltonparser.py
  cclib/parser/gamessukparser.py
  cclib/parser/gaussianparser.py
  cclib/parser/logfileparser.py
  cclib/parser/mopacparser.py
  cclib/parser/nwchemparser.py
  cclib/parser/qchemparser.py
  cclib/parser/turbomoleparser.py
Labels: bug, parsers

#1169 Fixed another bug parsing mocoefficients with alpha/beta orbitals and pop=reg
  cclib/parser/gaussianparser.py
Labels: Gaussian, regression

#1170 Orca: add methods and basis set to metadata
  cclib/parser/orcaparser.py
  test/data/testSP.py
  test/regression.py
Labels: ORCA
