Repository cclib/cclib, pull requests merged in 2023-06, with the labels that each got.

#1136 Add method for computing CM5 atomic charges
  cclib/method/__init__.py
  cclib/method/cm5.py
  test/method/testcm5.py
  test/test_method.py
Labels: methods

#1212 initial devcontainer.json
  .devcontainer/devcontainer.json
Labels: maintenance

#1210 Psi4: add test data for 1.7
  data/Psi4/basicPsi4-1.7/.gitignore
  data/Psi4/basicPsi4-1.7/C_bigbasis.in
  data/Psi4/basicPsi4-1.7/C_bigbasis.out
  data/Psi4/basicPsi4-1.7/dvb_dispersion_bp86_d3zero.in
  data/Psi4/basicPsi4-1.7/dvb_dispersion_bp86_d3zero.out
  data/Psi4/basicPsi4-1.7/dvb_gopt_rhf.in
  data/Psi4/basicPsi4-1.7/dvb_gopt_rhf.out
  data/Psi4/basicPsi4-1.7/dvb_gopt_rks.in
  data/Psi4/basicPsi4-1.7/dvb_gopt_rks.out
  data/Psi4/basicPsi4-1.7/dvb_ir_rhf.in
  data/Psi4/basicPsi4-1.7/dvb_ir_rhf.out
  data/Psi4/basicPsi4-1.7/dvb_sp_rhf.in
  data/Psi4/basicPsi4-1.7/dvb_sp_rhf.out
  data/Psi4/basicPsi4-1.7/dvb_sp_rks.in
  data/Psi4/basicPsi4-1.7/dvb_sp_rks.out
  data/Psi4/basicPsi4-1.7/dvb_sp_rohf.in
  data/Psi4/basicPsi4-1.7/dvb_sp_rohf.out
  data/Psi4/basicPsi4-1.7/dvb_sp_uhf.in
  data/Psi4/basicPsi4-1.7/dvb_sp_uhf.out
  data/Psi4/basicPsi4-1.7/dvb_sp_uks.in
  data/Psi4/basicPsi4-1.7/dvb_sp_uks.out
  data/Psi4/basicPsi4-1.7/water_ccsd(t).in
  data/Psi4/basicPsi4-1.7/water_ccsd(t).out
  data/Psi4/basicPsi4-1.7/water_ccsd.in
  data/Psi4/basicPsi4-1.7/water_ccsd.out
  data/Psi4/basicPsi4-1.7/water_mp2.in
  data/Psi4/basicPsi4-1.7/water_mp2.out
Labels: tests, Psi

#1211 Initial Black and isort configuration
  .git-blame-ignore-revs
  .pre-commit-config.yaml
  pyproject.toml
Labels: maintenance

#1168 Orca Post-HF Excited States
  cclib/parser/logfileparser.py
  cclib/parser/orcaparser.py
  data/ORCA/basicORCA5.0/dvb_adc2.inp
  data/ORCA/basicORCA5.0/dvb_adc2.log
  data/ORCA/basicORCA5.0/dvb_eom_ccsd.inp
  data/ORCA/basicORCA5.0/dvb_eom_ccsd.log
  data/ORCA/basicORCA5.0/dvb_pno_eom_ccsd.inp
  data/ORCA/basicORCA5.0/dvb_pno_eom_ccsd.log
  data/ORCA/basicORCA5.0/dvb_steom_ccsd.inp
  data/ORCA/basicORCA5.0/dvb_steom_ccsd.log
  data/ORCA/basicORCA5.0/dvb_steom_dlpno_ccsd.inp
  data/ORCA/basicORCA5.0/dvb_steom_dlpno_ccsd.log
  test/data/testTD.py
  test/testdata
Labels: ORCA

#1185 Psi4 parser update
  cclib/parser/psi4parser.py
  test/testdata
Labels: regression, Psi

#1213 ORCA: fix field width for parsing Hirshfeld charges
  cclib/parser/orcaparser.py
  test/data/testSP.py
Labels: bug, ORCA

#1216 Github actions documentation build
  .github/workflows/cclib_docs_push.yml
  .github/workflows/cclib_docs_push.yml_
  doc/sphinx/conf.py
Labels: maintenance, docs

#1217 Added parsing of solvent metadata (Orca, Gaussian and Turbomole
  cclib/parser/gaussianparser.py
  cclib/parser/orcaparser.py
  cclib/parser/turbomoleparser.py
  data/Gaussian/basicGaussian16/water_hf_solvent_cpcm.com
  data/Gaussian/basicGaussian16/water_hf_solvent_cpcm.log
  data/Gaussian/basicGaussian16/water_hf_solvent_ipcm.com
  data/Gaussian/basicGaussian16/water_hf_solvent_ipcm.log
  data/Gaussian/basicGaussian16/water_hf_solvent_pcm.com
  data/Gaussian/basicGaussian16/water_hf_solvent_pcm.log
  data/Gaussian/basicGaussian16/water_hf_solvent_scipcm.com
  data/Gaussian/basicGaussian16/water_hf_solvent_scipcm.log
  data/Gaussian/basicGaussian16/water_hf_solvent_smd.com
  data/Gaussian/basicGaussian16/water_hf_solvent_smd.log
  data/ORCA/basicORCA5.0/water_hf_solvent_cpcm.inp
  data/ORCA/basicORCA5.0/water_hf_solvent_cpcm.log
  data/ORCA/basicORCA5.0/water_hf_solvent_cpcm_cosmo.inp
  data/ORCA/basicORCA5.0/water_hf_solvent_cpcm_cosmo.log
  data/ORCA/basicORCA5.0/water_hf_solvent_smd.inp
  data/ORCA/basicORCA5.0/water_hf_solvent_smd.log
  data/Turbomole/basicTurbomole7.5/water_hf_solvent_cosmo/basis
  data/Turbomole/basicTurbomole7.5/water_hf_solvent_cosmo/control
  data/Turbomole/basicTurbomole7.5/water_hf_solvent_cosmo/coord
  data/Turbomole/basicTurbomole7.5/water_hf_solvent_cosmo/energy
  data/Turbomole/basicTurbomole7.5/water_hf_solvent_cosmo/mos
  data/Turbomole/basicTurbomole7.5/water_hf_solvent_cosmo/statistics
  data/Turbomole/basicTurbomole7.5/water_hf_solvent_cosmo/water.log
  test/data/testSP.py
  test/testdata
Labels: parsers, ORCA, Gaussian, Turbomole

#1219 Excited states method
  cclib/parser/gaussianparser.py
  cclib/parser/orcaparser.py
  cclib/parser/turbomoleparser.py
  data/Gaussian/basicGaussian16/dvb_eomccsd.com
  data/Gaussian/basicGaussian16/dvb_eomccsd.log
  test/data/testTD.py
  test/testdata
Labels: parsers, ORCA, Gaussian, Turbomole
