Repository cclib/cclib, pull requests merged in 2023-07, with the labels that each got.

#1214 Parser for Gamess .dat - continuation and fixes
  cclib/parser/gamessdatparser.py
  test/data/testSP.py
Labels: GAMESS

#1223 Push docs to docs repo
  .github/workflows/cclib_docs_push.yml
Labels: maintenance, docs

#1227 Push docs to doc repo
  .github/workflows/cclib_docs_push.yml
Labels: maintenance, docs

#1228 Add optional index parameter to extend_attribute
  cclib/parser/logfileparser.py
Labels: parsers

#1230 NBO data files for subset of molecules
  data/NBO/basicNBO7.0/basicORCA5.0/Trp_polar.inp
  data/NBO/basicNBO7.0/basicORCA5.0/Trp_polar.nbo.out
  data/NBO/basicNBO7.0/basicORCA5.0/Trp_polar.out
  data/NBO/basicNBO7.0/basicORCA5.0/dvb_sp.inp
  data/NBO/basicNBO7.0/basicORCA5.0/dvb_sp.nbo.out
  data/NBO/basicNBO7.0/basicORCA5.0/dvb_sp.out
  data/NBO/basicNBO7.0/basicORCA5.0/dvb_sp_un.inp
  data/NBO/basicNBO7.0/basicORCA5.0/dvb_sp_un.nbo.out
  data/NBO/basicNBO7.0/basicORCA5.0/dvb_sp_un.out
  data/NBO/basicNBO7.0/basicORCA5.0/water_mp2.inp
  data/NBO/basicNBO7.0/basicORCA5.0/water_mp2.nbo.out
  data/NBO/basicNBO7.0/basicORCA5.0/water_mp2.out
Labels: NBO

#1229 Little fixes to the Gamess .dat parser
  cclib/parser/gamessdatparser.py
  test/data/testSP.py
Labels: parsers, GAMESS

#1222 Fix for not all input objects supporting `last_line`
  cclib/io/__init__.py
  cclib/io/ccio.py
  cclib/io/filereader.py
  cclib/io/filewriter.py
  cclib/parser/adfparser.py
  cclib/parser/gaussianparser.py
  cclib/parser/logfileparser.py
  cclib/parser/logfilewrapper.py
  cclib/parser/turbomoleparser.py
  cclib/scripts/ccget.py
  test/io/testccio.py
  test/io/testcjsonreader.py
  test/io/testscripts.py
  test/parser/testlogfileparser.py
  test/parser/testspecificparsers.py
Labels: bug, io

#1232 QChem: parse implicit solvation
  cclib/parser/qchemparser.py
  data/QChem/basicQChem6.0/.gitignore
  data/QChem/basicQChem6.0/water_hf_solvent_cosmo.fchk
  data/QChem/basicQChem6.0/water_hf_solvent_cosmo.in
  data/QChem/basicQChem6.0/water_hf_solvent_cosmo.out
  data/QChem/basicQChem6.0/water_hf_solvent_onsager.fchk
  data/QChem/basicQChem6.0/water_hf_solvent_onsager.in
  data/QChem/basicQChem6.0/water_hf_solvent_onsager.out
  data/QChem/basicQChem6.0/water_hf_solvent_pcm_cosmo.fchk
  data/QChem/basicQChem6.0/water_hf_solvent_pcm_cosmo.in
  data/QChem/basicQChem6.0/water_hf_solvent_pcm_cosmo.out
  data/QChem/basicQChem6.0/water_hf_solvent_pcm_cpcm.fchk
  data/QChem/basicQChem6.0/water_hf_solvent_pcm_cpcm.in
  data/QChem/basicQChem6.0/water_hf_solvent_pcm_cpcm.out
  data/QChem/basicQChem6.0/water_hf_solvent_pcm_iefpcm.fchk
  data/QChem/basicQChem6.0/water_hf_solvent_pcm_iefpcm.in
  data/QChem/basicQChem6.0/water_hf_solvent_pcm_iefpcm.out
  data/QChem/basicQChem6.0/water_hf_solvent_pcm_ssvpe.fchk
  data/QChem/basicQChem6.0/water_hf_solvent_pcm_ssvpe.in
  data/QChem/basicQChem6.0/water_hf_solvent_pcm_ssvpe.out
  data/QChem/basicQChem6.0/water_hf_solvent_sm12_chelpg.fchk
  data/QChem/basicQChem6.0/water_hf_solvent_sm12_chelpg.in
  data/QChem/basicQChem6.0/water_hf_solvent_sm12_chelpg.out
  data/QChem/basicQChem6.0/water_hf_solvent_sm12_cm5.fchk
  data/QChem/basicQChem6.0/water_hf_solvent_sm12_cm5.in
  data/QChem/basicQChem6.0/water_hf_solvent_sm12_cm5.out
  data/QChem/basicQChem6.0/water_hf_solvent_sm12_mk.fchk
  data/QChem/basicQChem6.0/water_hf_solvent_sm12_mk.in
  data/QChem/basicQChem6.0/water_hf_solvent_sm12_mk.out
  data/QChem/basicQChem6.0/water_hf_solvent_sm8.fchk
  data/QChem/basicQChem6.0/water_hf_solvent_sm8.in
  data/QChem/basicQChem6.0/water_hf_solvent_sm8.out
  data/QChem/basicQChem6.0/water_hf_solvent_smd.fchk
  data/QChem/basicQChem6.0/water_hf_solvent_smd.in
  data/QChem/basicQChem6.0/water_hf_solvent_smd.out
  data/QChem/basicQChem6.0/water_hf_solvent_smd_cpcm.fchk
  data/QChem/basicQChem6.0/water_hf_solvent_smd_cpcm.in
  data/QChem/basicQChem6.0/water_hf_solvent_smd_cpcm.out
  data/QChem/basicQChem6.0/water_hf_solvent_smd_iefpcm.fchk
  data/QChem/basicQChem6.0/water_hf_solvent_smd_iefpcm.in
  data/QChem/basicQChem6.0/water_hf_solvent_smd_iefpcm.out
  test/data/testSP.py
  test/testdata
Labels: parsers, QChem

#1233 Parser for NBO files
  cclib/parser/nboparser.py
Labels: parsers, NBO
