Repository cclib/cclib, pull requests merged in 2023-03, with the labels that each got.

#1164 Gaussian: increase specificity of Moller-Plesset checks
  cclib/parser/gaussianparser.py
  test/regression.py
Labels: Gaussian, regression

#1178 use 'is not None' instead of '!= None'
  test/bridge/testhorton.py
Labels: maintenance, tests

#1172 Orca etoscs with SOC
  cclib/parser/orcaparser.py
  test/data/testTD.py
Labels: ORCA, regression

#1184 tests: replace many unittest methods with bare asserts for pytest
  test/bridge/testase.py
  test/bridge/testhorton.py
  test/data/testBOMD.py
  test/data/testBasis.py
  test/data/testCC.py
  test/data/testCI.py
  test/data/testCore.py
  test/data/testGeoOpt.py
  test/data/testMP.py
  test/data/testNMR.py
  test/data/testPolar.py
  test/data/testSP.py
  test/data/testSPun.py
  test/io/testfilewriter.py
  test/io/testscripts.py
  test/io/testwfxwriter.py
  test/io/testxyzreader.py
  test/io/testxyzwriter.py
  test/method/testbader.py
  test/method/testddec.py
  test/method/testhirshfeld.py
  test/method/testmbo.py
  test/method/testorbitals.py
  test/method/testpopulation.py
  test/parser/testdata.py
  test/parser/testspecificparsers.py
Labels: maintenance, tests

#1186 tests: replace remaining unittest methods with bare asserts for pytest
  test/data/testBasis.py
  test/data/testSP.py
  test/data/testSPun.py
  test/data/testScan.py
  test/data/testTD.py
  test/data/testTDun.py
  test/data/testvib.py
  test/io/testccio.py
  test/io/testcjsonreader.py
  test/io/testcjsonwriter.py
  test/io/testmoldenwriter.py
  test/io/testwfxwriter.py
  test/method/testcda.py
  test/method/testelectrons.py
  test/method/testmoments.py
  test/method/testnuclear.py
  test/method/testpopulation.py
  test/method/testvolume.py
  test/parser/testlogfileparser.py
  test/parser/testutils.py
  test/regression.py
  test/test_utils.py
Labels: maintenance, tests
