Repository cclib/cclib, pull requests merged in 2023-05, with the labels that each got.

#1195 Psi4: parse CCSD(T) energy
  cclib/parser/psi4parser.py
Labels: Psi

#1194 ORCA: parse CCSD(T) energy
  cclib/parser/orcaparser.py
Labels: ORCA

#1198 NWChem: parse vibdisps, atommasses
  cclib/parser/nwchemparser.py
  doc/sphinx/coverage.py
  test/data/testSP.py
  test/data/testvib.py
Labels: feature, NWChem

#1199 NWChem: parse hessian
  cclib/parser/nwchemparser.py
  test/data/testvib.py
Labels: feature, NWChem, tests

#1203 Bump Python version for Read the Docs from 3.7 to 3.10
  .readthedocs.yml
Labels: maintenance, docs

#1196 Test reference values for coupled cluster energies
  test/data/testCC.py
  test/testdata
Labels: tests

#1200 GAMESS: parse hessian
  cclib/parser/gamessparser.py
  test/data/testvib.py
Labels: GAMESS

#1201 DALTON: parse hessian
  cclib/parser/daltonparser.py
  test/data/testvib.py
Labels: Dalton

#1202 Psi4: parse hessian
  cclib/parser/psi4parser.py
Labels: Psi

#948 Allow writing of natural orbitals to the molden file instead of MOs
  cclib/io/filewriter.py
  cclib/io/moldenwriter.py
  cclib/parser/gamessparser.py
  cclib/scripts/ccwrite.py
  test/io/testmoldenwriter.py
  test/regression.py
Labels: io, Molden

#1204 FChk: fix hessian parsing
  cclib/parser/fchkparser.py
  cclib/parser/utils.py
  test/data/testvib.py
  test/test_utils.py
Labels: bug, fchk

#1206 Gaussian: raw string for regex
  cclib/parser/gaussianparser.py
Labels: maintenance, Gaussian

#1132 MOLDEN: output frequency information
  cclib/io/moldenwriter.py
  test/io/data/molden5.7_dvb_ir.molden
  test/io/testmoldenwriter.py
Labels: Molden
