Repository cclib/cclib, pull requests merged in 2024-10, with the labels that each got.

#1486 Fixed a bug parsing excited states in excited state opts
  cclib/parser/orcaparser.py
  test/regression.py
Labels: ORCA, regression

#1493 Gaussian09/OPT_td.out is actually Gaussian 03
  test/regression.py
Labels: maintenance, Gaussian

#1496 xTB: test for atomcoords when elements have two-letter symbols
  test/regression.py
Labels: tests, xTB

#1500 Jaguar: fix for <= 6 normal modes
  cclib/parser/jaguarparser.py
Labels: regression, Jaguar

#1499 NWChem: fix for fixed-width mass-weighted Hessian
  cclib/parser/nwchemparser.py
Labels: NWChem, regression

#1498 Revert breaking API changes on master branch
  cclib/bridge/cclib2pyscf.py
  cclib/io/moldenwriter.py
  cclib/io/wfxwriter.py
  cclib/parser/adfparser.py
  cclib/parser/data.py
  cclib/parser/logfileparser.py
  cclib/parser/turbomoleparser.py
  doc/sphinx/data_notes.rst
  test/bridge/testpyscf.py
  test/data/testCC.py
  test/data/testGeoOpt.py
  test/data/testSP.py
  test/data/testScan.py
  test/data/testTD.py
  test/regression.py
Labels: maintenance
