Repository cclib/cclib, pull requests merged in 2024-02, with the labels that each got.

#1360 parse center of mass and use as origin
  cclib/parser/orcaparser.py
Labels: bug, ORCA

#1369 Changed SCF target parsing for ORCA to be more robust
  cclib/parser/orcaparser.py
Labels: ORCA, regression

#1368 Fixed https://github.com/cclib/cclib/issues/1290 by switching to regex
  cclib/parser/gaussianparser.py
Labels: bug, Gaussian

#1371 Added functionality to read zipped cubes
  cclib/method/volume.py
  cclib/parser/logfilewrapper.py
  test/method/co.cube.zip
  test/method/testvolume.py
Labels: feature, methods

#1370 Tests for scripts
  test/bridge/testase.py
  test/io/testccio.py
  test/io/testscripts.py
Labels: scripts, tests
