Repository cclib/cclib, pull requests merged in 2025-07, with the labels that each got.

#1628 FChk: implement geometry optimization attributes
  cclib/parser/fchkparser.py
  cclib/parser/gaussianparser.py
  cclib/parser/psi4parser.py
  cclib/parser/qchemparser.py
  test/data/common.py
  test/data/testGeoOpt.py
  test/data/testSP.py
  test/data/testScan.py
  test/regression.py
  test/testdata
Labels: Gaussian, regression, tests, QChem, fchk

#1632 Switch from pre-commit.ci to regular GitHub Actions workflow
  .github/workflows/ci.yml
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
Labels: maintenance, github_actions, continuous-integration

#1629 ORCA: fix parsing singly-excited state calculations with over 1000 MOs
  cclib/parser/orcaparser.py
Labels: ORCA, regression

#1642 correct a spell mistake
  cclib/parser/data.py
Labels: maintenance
