Repository cclib/cclib, pull requests merged in 2025-05, with the labels that each got.

#1593 QChem: fix parsing TDDFT calculations with more than 99 excited states
  cclib/parser/qchemparser.py
  test/regression.py
Labels: regression, QChem

#1471 start psi4 moments attribute parser, turn on tests
  cclib/attribute_parsers/__init__.py
  cclib/attribute_parsers/data.py
  cclib/attribute_parsers/moments.py
  cclib/attribute_parsers/parser_state.py
  cclib/combinator/combinator.py
  cclib/driver/ccdriver.py
  test/data/testSP.py
Labels: Psi

#1594 Gaussian: always take last NBO charges for combined orbitals
  cclib/parser/gaussianparser.py
  test/regression.py
Labels: Gaussian, regression

#1601 ORCA: implement rotconsts and optstatus
  cclib/parser/orcaparser.py
  data/ORCA/.gitignore
  test/data/testGeoOpt.py
  test/data/testSP.py
  test/regression.py
Labels: ORCA

#1603 Increase usage of append_attribute
  cclib/parser/gaussianparser.py
  cclib/parser/jaguarparser.py
  cclib/parser/orcaparser.py
  cclib/parser/qchemparser.py
Labels: maintenance, parsers

#1607 Jaguar: implement optstatus and enable scan tests
  cclib/parser/jaguarparser.py
  test/data/testGeoOpt.py
  test/data/testSP.py
  test/data/testScan.py
  test/data/testTD.py
  test/regression.py
  test/testdata
Labels: Jaguar
